@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100vw;
    width: 100vw;
    overflow: hidden;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    position: relative;
    
}

section.fundo-celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background-image: url(../imagens/frame-iphone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.botoes {
    text-align: right;
    display: block;
    border-radius: 50%;
}